@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap");

:root {
  --font-family: "Inter", sans-serif;
  --color-black: #191a15;
  --color-green: #54bd95;
  --color-div-BG: #f9f8fe;
  --color-white: #fff;
  --color-gray: #808080;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  width: 100%;
  height: 100vh;
  font-size: 1.8rem;
  background-image: url(./images/top_bg_left.svg),
  url(./images/top_bg_right.svg);
background-position: left top, right top;
background-repeat: no-repeat, no-repeat;
/* background-size: 634px 634px, 634px 634px; */
/* background-size: 64rem 64rem, 64rem 64rem; */
}

.main-container {
  margin: auto;
  max-width: 90vw;
}

.header-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80rem;
  /* background-image: url(./images/top_bg_left.svg),
    url(./images/top_bg_right.svg);
  background-position: left, right;
  background-repeat: no-repeat, no-repeat; */
}

.navbar {
  display: flex;
  width: 90%;
  margin: 2rem auto;
  justify-content: space-between;
}

.navbar_logo {
  display: flex;
  justify-content: flex-start;
  padding-right: 30rem;
}

.logo_style {
  color: var(--color-green);
  font-size: 4rem;
}
.navbar_menu {
  display: flex;
  justify-content: flex-end;
  padding-right: 10rem;
}

.navbar_login {
  display: flex;
  justify-content: flex-end;
}

.navbar_menu ul > li {
  display: inline-block;
  margin-left: 3rem;
}

.navbar_menu ul li a {
  text-decoration: none;
  color: var(--color-gray);
  font-size: 1.4rem;
}

.navbar_login ul > li {
  display: inline-block;
  margin-left: 1.7rem;
}

.navbar_login ul li a {
  text-decoration: none;
  color: var(--color-gray);
  font-size: 1.4rem;
}

.navbar_login_button {
  width: 8rem;
  height: 3.2rem;
  background-color: var(--color-green);
  color: var(--color-white);
  border: 1px solid var(--color-green);
  border-radius: 0.7rem;
  font-size: 1.4rem;
  cursor: pointer;
}

.hero-container {
  display: flex;
  width: 90%;
  height: 55rem;
  margin: 4rem auto;
  justify-content: space-evenly;
}

.hero-container_left {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.hero-container_right {
  display: flex;
  width: 60%;
  background-image: url(./images/top_right_image.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.underline {
  width: 80%;
  height: 3rem;
  margin-top: 2rem;
  background-image: url(./images/underline.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.text_uderline {
  margin-top: 3rem;
  width: 85%;
}

.text_uderline p {
  font-size: 1.75rem;
}

.hero-container_left h1 {
  font-size: 5rem;
}

.button_div {
  display: flex;
  margin-top: 3rem;
  width: 70%;
}

.button_div_trial {
}

.trial_button {
  width: 12rem;
  height: 4.2rem;
  background-color: var(--color-green);
  color: var(--color-white);
  border: 1px solid var(--color-green);
  border-radius: 5rem;
  font-size: 1.4rem;
  cursor: pointer;
}

.button_div_demo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 3rem;
}

/* Clients Section */

.client-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 4rem;
  margin: 0 auto;
  justify-content: space-evenly;
}

.client-container-text {
  align-items: center;
  text-align: center;
  font-size: 2rem;
}

.client-container-logos {
display: flex;
margin: auto;
width: 80%;
justify-content: center;
align-items: center;
margin-top: 2.5rem;
margin-top: 2rem;
}

.client-container-logos img {
  padding-left: 2.5rem;
  max-width: 100%;
  height: auto;
}

/* Second body section */
.section-two {
  display: flex;
  width: 100%;
  height: 40rem;
  margin: 0.5rem auto;
  background-color: var(--color-div-BG);
}

.section-two-inner {
  display: flex;
  width: 85%;
  margin: 2rem auto;
  padding: 5rem;
}

.section-two-inner-left {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.section-two-inner-left h1 {
  word-spacing: 0.3rem;
  margin-bottom: 2rem;
}

.section-two-inner-left p {
  font-size: 1.4rem;
  color: var(--color-gray);
  line-height: 2.5rem;
}

.ratings {
  display: flex;
  width: 75%;
  justify-content: flex-start;
  margin-top: 4rem;
}

.ratings-card {
  margin-right: 5rem;
}

#stars-rating {
  font-size: 1.5rem;
  color: var(--color-black);
}

.section-two-inner-right {
  width: 50%;
  flex-direction: column;
  justify-content: space-evenly;
}

.s2inner-content {
display: flex;
justify-content: flex-start;
padding: 0 5rem 2.5rem 5rem;
}

.s2inner-content p {
  font-size: 1.4rem;
  color: var(--color-gray);
  line-height: 2.5rem;
  padding-left: 1.5rem;
}

.s2inner-content h4 {
  padding-left: 1.5rem;
  padding-bottom: 1rem;
}

/* Third body section */
.section-three {
  display: flex;
  width: 85%;
  margin: 2rem auto;
  padding: 5rem;
}

.section-three-left {
  width: 30%;
}

.section-three-middle {
  width: 45%;
}

.section-three-right {
  width: 25%;
}

/* .class-a, .classb, .class-c {

} */

