@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap");

:root {
  --font-family: "Inter", sans-serif;
  --color-black: #191a15;
  --color-green: #54bd95;
  --color-div-BG: #f9f8fe;
  --color-white: #fff;
  --color-gray: #808080;
  --box-bg: #f9fafb;
  --discount: #85dab9;
  --box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  width: 100%;
  height: 100vh;
  font-size: 2.1rem;
}

p {
  font-size: 1.5rem;
  color: var(--color-gray);
  line-height: 2.5rem;
}

sup {
  vertical-align: super;
  font-size: 2rem;
  color: var(--color-gray);
}

/* Section One here */

.section-one {
  display: flex;
  width: 100%;
  height: 80rem;
  margin: 0 auto;
  align-items: center;
  background-image: url(./images/top_bg_left.svg),
    url(./images/top_bg_right.svg);
  background-position: left top, right top;
  background-repeat: no-repeat, no-repeat;
}

.main-container {
  margin: auto;
  max-width: 75vw;
}

.header-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90rem;
}

.navbar {
  display: flex;
  width: 100%;
  margin: 2rem auto;
  justify-content: space-between;
}

.navbar_logo {
  display: flex;
  justify-content: flex-start;
  padding-right: 7.5rem;
}

.logo_style {
  color: var(--color-green);
  font-size: 4rem;
}
.navbar_menu {
  display: flex;
  justify-content: flex-end;
  padding-right: 3rem;
}

.navbar_login {
  display: flex;
  justify-content: flex-end;
}

.navbar_menu ul > li {
  display: inline-block;
  margin-left: 2rem;
}

.navbar_menu ul li a {
  text-decoration: none;
  color: var(--color-gray);
  font-size: 1.4rem;
}

.navbar_login ul > li {
  display: inline-block;
  margin-left: 1.5rem;
}

.navbar_login ul li a {
  text-decoration: none;
  color: var(--color-gray);
  font-size: 1.4rem;
}

.navbar_login_button {
  width: 8rem;
  height: 3.2rem;
  background-color: var(--color-green);
  color: var(--color-white);
  border: 1px solid var(--color-green);
  border-radius: 0.7rem;
  font-size: 1.4rem;
  cursor: pointer;
}

/* Body Section 1 begins */
.hero-container {
  display: flex;
  width: 100%;
  height: 55rem;
  margin: 2rem 0rem 2rem 0rem;
  justify-content: space-evenly;
  align-items: center;
}

.hero-container_left {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.hero-container_right {
  display: flex;
  width: 60%;
  height: 50rem;
  background-image: url(./images/top_right_image.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.underline {
  width: 80%;
  height: 3rem;
  margin-top: 2rem;
  background-image: url(./images/underline.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.text_uderline {
  margin-top: 3rem;
  width: 85%;
}

.text_uderline p {
  font-size: 1.75rem;
}

.hero-container_left h1 {
  font-size: 4rem;
}

.button_div {
  display: flex;
  margin-top: 3rem;
  width: 70%;
}

.button_div_trial {
  width: auto;
}

.trial_button {
  width: 12rem;
  height: 4.2rem;
  background-color: var(--color-green);
  color: var(--color-white);
  border: 1px solid var(--color-green);
  border-radius: 5rem;
  font-size: 1.4rem;
  cursor: pointer;
}

.button_div_demo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 3rem;
}

/* Clients Section */

.client-container {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 0 auto;
  justify-content: space-evenly;
}

.client-container-text {
  align-items: center;
  text-align: center;
}

.client-container-text h3 {
  font-size: 2.5rem;
}

.client-container-logos {
  display: flex;
  margin: auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
}

.client-container-logos img {
  padding-left: 2.5rem;
  width: 90%;
  height: auto;
}

/* Second body section */
.section-two {
  display: flex;
  width: 100%;
  height: 47.5rem;
  margin: 0rem auto;
  background-color: var(--color-div-BG);
  padding: 3.5rem 0rem 3.5rem 0rem;
}

.section-two-inner {
  display: flex;
  width: 75vw;
  margin: 2rem auto;
  padding: 0rem 0rem 5rem 0rem;
}

.section-two-inner-left {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.section-two-inner-left h1 {
  word-spacing: 0.3rem;
  margin-bottom: 2rem;
}

.section-two-inner-left p {
  line-height: 2rem;
}

.ratings {
  display: flex;
  width: 75%;
  justify-content: flex-start;
  margin-top: 4rem;
}

.ratings-card {
  margin-right: 5rem;
}

#stars-rating {
  font-size: 1.5rem;
  color: var(--color-black);
}

.section-two-inner-right {
  width: 50%;
  flex-direction: column;
  justify-content: space-evenly;
}

.s2inner-content {
  display: flex;
  justify-content: flex-start;
  padding: 0 0rem 3.5rem 0rem;
}

.s2inner-content p {
  padding-left: 1.5rem;
}

.s2inner-content h4 {
  padding-left: 1.5rem;
  padding-bottom: 1rem;
}

/* Third body section */
.section-three {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem auto;
  padding: 3.5rem 0rem 3.5rem 0rem;
  align-items: center;
  background-image: url(./images/mid-bg_left.svg),
    url(./images/mid-bg_right.svg);
  background-position: left top, right top;
  background-repeat: no-repeat, no-repeat;
}

.section-three-top {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 75vw;
  margin: 1.5rem auto;
  padding: 3rem 0rem 3rem 0rem;
}
.section-three-left {
  width: 28%;
  padding-right: 3rem;
}

.section-three-left h1 {
  font-size: 3rem;
}

.section-three-middle {
  width: 57%;
  padding-right: 20rem;
}

.section-three-middle p {
  font-size: 1.5rem;
}

.section-three-right {
  width: 13%;
  display: flex;
  justify-content: flex-end;
}

/* Features Row */

.features {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75vw;
  margin: 5rem auto;
}

.benefit_cards {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem auto;
}

.feature_collabo {
  display: flex;
  height: 45rem;
  width: auto;
  background-image: url(./images/collaboration.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 2.5rem;
}

.features h4 {
  padding-bottom: 1rem;
}

.features p {
  padding-right: 10rem;
}

/* Benefits Row */
.benefits {
  display: flex;
  align-items: center;
  width: 75vw;
  margin: 3rem auto;
  height: 50rem;
}

.benefits_left {
  display: flex;
  width: 45%;
  flex-direction: column;
  justify-content: flex-start;
}

.benefits_left h1 {
  margin: 2rem 0rem 2rem 0rem;
  font-size: 3.5rem;
}

.benefit_bullets {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
}

.benefit_bullets img {
  width: 75%;
  height: 75%;
}

.benefit_bullets_list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-right: 1.5rem;
}

.benefit_bullets_list p {
  color: var(--color-black);
  font-size: 1.4rem;
}

.benefits_right {
  display: flex;
  width: 55%;
  height: 55rem;
  background-image: url(./images/benefit_right.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

/* 
At this point, I need to define one class that carries divs with the below details, instead of repeating it, to improve my dry coding.

  display: flex;
  width: 75vw;
  margin: 3rem auto;

*/

/* Plans Row */

.plans_row {
  display: flex;
  width: 75vw;
}

.plans_row_details {
  display: flex;
  width: 100vw;
  margin: 3rem auto;
  flex-direction: column;
  justify-content: center;
}

.plan-details_text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.plan-details_text h1 {
  font-size: 3.5rem;
}

.plan-details_text p {
  margin-top: 2rem;
  font-size: 1.8rem;
}

.plan-details_billing {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem auto;
  width: 40%;
  height: 7rem;
  background-color: var(--color-white);
  border: 0.1rem solid rgba(128, 128, 128, 0.116);
  box-shadow: var(--box-shadow);
  border-radius: 1rem;
  padding: 0.75rem;
}

.billing-monthly {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.billing-monthly p {
  color: var(--color-black);
}

.billing-monthly:hover {
  cursor: pointer;
}

.billing-yearly:hover {
  cursor: pointer;
}

.billing-yearly {
  display: flex;
  width: 50%;
  height: 90%;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--color-green);
  border: 1px solid var(--color-green);
  border-radius: 0.75rem;
}

.billing-yearly p {
  color: var(--color-white);
}

/* Plan Cards */
.plan_cards {
  display: flex;
  width: 90vw;
  column-gap: 2.5rem;
  justify-content: space-between;
  align-items: center;
  margin: 4rem auto;
}

.plan_cards_white {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem auto;
  height: 60rem;
  background-color: var(--color-white);
  border: 0.1rem solid rgba(128, 128, 128, 0.116);
  box-shadow: var(--box-shadow);
  border-radius: 2rem;
  padding: 4rem 2rem 3rem 2rem;
}

.plan_cards_green {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem auto;
  height: 65rem;
  background-color: var(--color-green);
  color: var(--color-white);
  border: 0.1rem solid rgba(128, 128, 128, 0.116);
  box-shadow: var(--box-shadow);
  border-radius: 2rem;
  padding: 4rem 2rem 3rem 2rem;
}

.white_para {
  color: var(--color-white);
}

.green_discount {
  width: 15rem;
  display: flex;
  height: 4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--discount);
  border: none;
  border-radius: 1rem;
  margin: 2rem;
}

.green_discount p {
  color: var(--color-white);
  font-size: 1.5rem;
}

.plan_cards_white_text {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}

.plan_cards_white_features {
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
  width: 97.5%;
  background-color: var(--box-bg);
  border: none;
  border-radius: 1rem;
  height: auto;
}

.button_box {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.plan_cards_white_btn {
  display: flex;
  width: 85%;
  height: 6rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--color-white);
  border: 0.1rem solid rgba(128, 128, 128, 0.116);
  box-shadow: var(--box-shadow);
  border-radius: 2rem;
  color: var(--color-green);
  font-size: 2rem;
  margin: 2rem 0rem;
  cursor: pointer;
}

.plan_cards_green_btn {
  display: flex;
  width: 85%;
  height: 6rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--color-green);
  border: 0.1rem solid rgba(128, 128, 128, 0.116);
  box-shadow: var(--box-shadow);
  border-radius: 2rem;
  color: var(--color-white);
  font-size: 2rem;
  margin: 2rem 0rem;
  cursor: pointer;
}
